/* Global Style Settings */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap");

body {
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Open Sans", sans-serif;
  margin: 4rem 1rem;
  color: #fff;
  text-align: center;
}

/* Profile block */
.profile {
  margin-bottom: 3rem;
}

.profile__image-wrapper {
  margin: 0 auto;
}

.profile__image {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  margin: 10px auto;
}

.profile__username {
  text-align: center;
}

.profile__username-text {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: 0.2rem;
}

/* Links block */
.links {
  max-width: 500px;
  margin: 20px auto;
}

.links__item {
  margin-bottom: 20px;
}

.links__link {
  display: block;
  background-color: rgba(226, 36, 255, 0.4);
  color: #fff;
  padding: 17px;
  font-size: 1.2rem;
  font-weight: 300;
  border-radius: 10px;
  transition: background-color 0.5s cubic-bezier(0.08, 0.59, 0.29, 0.99);
  text-decoration: none;
}

.links__link:hover {
  background-color: rgba(248, 199, 255, 0.4);
  color: #000;
}

/* Footer block */
.footer {
  margin-top: 3rem;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__icon {
  margin: 0 5px;
}

.footer__text {
  font-weight: 600;
  text-decoration: underline;
  font-family: "Lucida Console", monospace;
  margin: 0 5px;
}
